---
import ExternalLink from "./icons/ExternalLink.astro";
import Javascript from "./technologies/Javascript.astro";
import Typescript from "./technologies/Typescript.astro";
import Angular from "./technologies/Angular.astro";
import React from "./technologies/React.astro";
import HTML5 from "./technologies/HTML5.astro";
import CSS from "./technologies/CSS.astro";
import PHP from "./technologies/PHP.astro";
import ASTRO from "./technologies/Astro.astro";
import NodeJS from "./technologies/NodeJS.astro";
import ArrowRight from "./icons/ArrowRight.astro";

const TECHNOLOGIES = {
  JS: {
    name: "JavaScript",
    class: "bg-yellow-300/25 text-white",
    icon: Javascript,
  },
  ANGULAR: {
    name: "Angular",
    class: "bg-red-600/25 text-white",
    icon: Angular,
  },
  NODEJS: {
    name: "Node.js",
    class: "bg-green-400/25 text-white",
    icon: NodeJS,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-blue-600/25 text-white",
    icon: Typescript,
  },
  REACT: {
    name: "React",
    class: "bg-blue-600/25 text-white",
    icon: React,
  },
  HTML5: {
    name: "HTML5",
    class: "bg-orange-600/25 text-white",
    icon: HTML5,
  },
  CSS: {
    name: "CSS",
    class: "bg-sky-600/25 text-white",
    icon: CSS,
  },
  PHP: {
    name: "PHP",
    class: "bg-purple-600/25 text-white",
    icon: PHP,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-white/15 text-white",
    icon: ASTRO,
  },
};

const PROJECTS = [
  {
    name: "99R Pastillas de freno",
    description:
      "Website for the mechanic workshop '99R Pastillas de Freno'. This page functions as a landing page and product catalog.",
    imageSrc: "/proyecto_99r.webp",
    link: "https://99r.com.ar/",
    technologies: [TECHNOLOGIES.ASTRO],
  },
  // {
  //     name: "Project 2",
  //     description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  //     imageSrc: "https://porfolio.dev/projects/svgl.webp",
  //     link: "https://github.com/pablogmartinez95",
  //     technologies: [TECHNOLOGIES.ANGULAR, TECHNOLOGIES.JS],
  // },
  // {
  //     name: "Project 3",
  //     description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  //     imageSrc: "https://porfolio.dev/projects/svgl.webp",
  //     link: "https://github.com/pablogmartinez95",
  //     technologies: [
  //         TECHNOLOGIES.ANGULAR,
  //         TECHNOLOGIES.JS,
  //         TECHNOLOGIES.NODEJS,
  //     ],
  // },
  // {
  //     name: "Project 4",
  //     description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  //     imageSrc: "https://porfolio.dev/projects/svgl.webp",
  //     link: "https://github.com/pablogmartinez95",
  //     technologies: [
  //         TECHNOLOGIES.ANGULAR,
  //         TECHNOLOGIES.JS,
  //         TECHNOLOGIES.NODEJS,
  //         TECHNOLOGIES.TYPESCRIPT,
  //         TECHNOLOGIES.HTML5,
  //         TECHNOLOGIES.CSS,
  //     ],
  // },
  // {
  //     name: "Project 5",
  //     description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit.",
  //     imageSrc: "https://porfolio.dev/projects/svgl.webp",
  //     link: "https://github.com/pablogmartinez95",
  //     technologies: [TECHNOLOGIES.JS],
  // },
];
---

<article class="flex flex-col gap-y-2 px-4 lg:px-0">
  {
    PROJECTS.map((project, index) => (
      <a href={`${project.link}`} target="_blank">
        <article class="flex flex-col sm:flex-row select-none gap-x-3 gap-y-3 px-2 py-2 rounded-md hover:bg-white/10 hover:shadow-2xl hover:shadow-white/10 transition-all group">
          <section class="mb-2">
            <img
              src={`${project.imageSrc}`}
              alt={`Foto del proyecto ${project.name}`}
              class="rounded-lg shadow-md shadow-black/50 max-w-full sm:w-[150px] "
            />
          </section>
          <section class="flex-1">
            <h3 class="text-xl text-bold text-balance group-hover:text-yellow-500 flex flex-row gap-x-2">
              {project.name}
              <ExternalLink />
            </h3>
            <p class="text-sm text-pretty">{project.description}</p>
            <ul class="flex gap-x-2 flex-row mb-2 flex-wrap">
              {project.technologies &&
                project.technologies.map((technology, index) => (
                  <li class="mt-1.5 text-base font-normal text-gray-500 dark:text-gray-400">
                    <span
                      class={`flex gap-x-2 rounded-lg text-xs ${technology.class} py-1 px-2 `}
                    >
                      <technology.icon class="size-4" />
                      {technology.name}
                    </span>
                  </li>
                ))}
            </ul>
          </section>
        </article>
      </a>
    ))
  }
  <a
    href="#"
    class="flex gap-x-2 font-medium transition-all hover:text-yellow-500"
  >
    <span>Want to see more? Click here to view all my projects</span>
    <ArrowRight />
  </a>
</article>
